/* Mengatur logo di header */
.image {
    width: 85px;
    height: auto;
}

/* Mengatur garis horizontal */
.garis {
    border: none;
    border-top: 3px solid black;
    margin: 10px 0;
}

/* Menyusun menu-wrapper */
.menu-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.menu-wrapper form {
    margin-left: auto;
}

.menu-wrapper input[type="text"],
.menu-wrapper button {
    margin-left: 10px;
}

/* Menyusun menulist untuk gambar barang */
.menulist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Menambahkan jarak antar item menu */
    justify-items: center; /* Menjaga item di tengah */
    text-align: center;
    margin: 50px auto;
    margin-bottom: 20px;
    max-width: 1000px;
}

/* Mengatur gaya untuk setiap menu-item */
.menu-item {
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.2s;
}

.menu-item:hover {
    transform: scale(1.05);
}

/* Mengatur ukuran gambar agar seragam */
.ukurangambarmenu {
    width: 200px; /* Lebar tetap */
    height: 200px; /* Tinggi tetap */
    object-fit: cover; /* Menjaga proporsi gambar tanpa distorsi */
    border-radius: 8px; /* Menyelaraskan dengan radius sudut dari menu-item */
}

/* Mengatur gaya untuk footer */
.footer {
    margin: 10px auto;
    text-align: center;
    background-color: rgb(159, 179, 179);
    padding: 10px ;
}
